html,
body{
	font-family: Verdana,Helvetica,Arial,Sans-Serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	cursor:default;
	margin:0;
	padding:0;
	color:hsla(0,0.0%,13.3%);
	background-color: hsla(0,0.0%,100.0%,1);
}